@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	}
img{
	border:none;
	vertical-align:middle;
	}
#container{
	margin:20px auto;
	width:1000px;
	}
#container_small{
	position:relative;
	float:left;
	margin-right:20px;
	width:460px;
	height:460px;
	border:1px solid #ccc;
	overflow:hidden;
	cursor:move;
	}
#container_overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100px;
	height:100px;
	background:url(../images/overlay.png);
	}
#container_big{
	display:none;
	position:relative;
	float:left;
	width:500px;
	height:500px;
	border:1px solid #ccc;
	overflow:hidden;
	}
#container_big img{
	position:absolute;
	top:0;
	left:0;
	}
