.lv{
	width:115px;
	overflow:hidden;
	zoom:1;
}
.lv span{
	background:url(stimg/level-star-icon.png) 0 -23px;
	color:transparent;
	float:left;
	font:0/0 a;
	height:19px;
	width:20%;
}

.lv .laugh{
	background-position:0 -42px;
	width:20%;
}